<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!-- Fragment template for adding a new product -->
  <div th:fragment="addProduct" class="bo-product-main">
    <div class="bo-product-form">
      <form action="/backoffice/products/ADD_PRODUCT" content="application/json" method="post">
        <label for="productId">Product ID:</label><br>
        <input type="text" id="productId" name="productId" required><br>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="price">Price:</label><br>
        <input type="number" step="0.01" id="price" name="price" required><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>

        <label for="image">Image URL (optional):</label><br>
        <input type="url" id="image" name="image"><br><br>

        <input type="submit" value="Save">
      </form>
    </div>
    <div th:if="${success != null}" class="result">
      <div th:if="${success}">
        <p>Product successfully added</p>
        <p th:text="'Product ID: ' + ${addedProduct.getProductId()}" />
        <p th:text="'Name: ' + ${addedProduct.getName()}"></p>
        <p th:text="'Price: ' + ${addedProduct.getPrice()}" />
        <p th:text="'Descriptioin: ' + ${addedProduct.getDescription()}" />
        <p th:text="'Image URL: ' + ${addedProduct.getImage()}" />
      </div>
      <p th:unless="${success}">Something went wrong while adding the product to database</p>
    </div>
  </div>
<!-- Fragment template for deleting a product -->
  <div th:fragment="deleteProduct">
    <p>DELETE PRODUCT</p>
  </div>
<!-- Fragment template for editing a product -->
  <div th:fragment="editProduct">
    <form action="/backoffice/products/EDIT_PRODUCT" method="get">
      <label for="productId">Find product by id:</label>
      <input type="text" name="productId" required>
      <button type="submit">Find product</button>
    </form>
  </div>
</body>
</html>