<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="webshop.css">
  </head>
  <body>
    <div th:fragment="header" id="header"><p>Webshop</p><p th:text="${sessionId}"></p> </div>
    <div id="info-main">
      <p>Get your stuff <a href="/page/list">here</a></p>
    </div>
    <div th:fragment="shoppingCart" id="shopping-cart">
      <div class="cart-display" th:if="${!#lists.isEmpty(shoppingCart.getProductItems())}" th:each="cartitem: ${shoppingCart.getProductItems()}">
        <p th:text="${cartitem.getProduct().getName()} + ' ' + ${cartitem.getQuantity()}"></p>
        <button class="deleteFromCartBtn" th:data-product-id="${cartitem.getProductId()}">Remove</button>
      </div>
      <p th:unless="${!#lists.isEmpty(shoppingCart.getProductItems())}">Cart is empty</p>
    </div>
    <script src="../global_util.js"></script>
  </body>
</html>