<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../webshop.css">
  </head>
  <body>
  <div th:replace="~{index :: header}"></div>
  <div id="info-main">
    <div id="store-front">
      <a href="#" class="product-link" th:each="product: ${products}" th:href="@{'/page/products?productId=' + ${product.getProductId()}}">
        <div class="product-display">
          <p th:text="${product.getProductId()}" />
          <img class="product-picture" th:src="${product.getImage()}" alt="No image">
          <p th:text="${product.getName()}" />
          <p th:text="${product.getPrice()}+'€'" />
        </div>
      </a>
    </div>
  </div>
  <div th:replace="~{index :: shoppingCart}"></div>
  <script src="../global_util.js"></script>
  </body>
</html>
