<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../backoffice.css">
</head>
<body>
<div id="header">Webshop Backoffice</div>
<div id="info-main">
    <th:block th:if="${templateName != null && selector != null}">
        <div th:replace="~{${templateName} :: ${selector}}"></div>
    </th:block>
    <p th:unless="${templateName != null && selector != null}">BACKOFFICE</p>
</div>
    <!-- Backoffice menu -->
    <div th:replace="~{bo/fragments/bo_menu :: backofficeMenu}"></div>
</body>
</html>