<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../webshop.css">
</head>
<body>
<div th:replace="~{shop/index :: header}"></div>
<div id="info-main">
    <div id="login-options">
       <a th:href="@{'/oauth2/authorization/google'}">Login with Google</a>
    </div>
</div>
<div th:replace="~{shop/index :: shoppingCart}"></div>
<script src="../global_util.js"></script>
</body>
</html>>